# ===============================================
# Global Ignores
# ===============================================
.DS_Store
Thumbs.db
.env*
.vercel

# ===============================================
# Backend Ignores (Python)
# ===============================================
venv/
__pycache__/
*.pyc

# ===============================================
# Frontend Ignores (Node.js)
# ===============================================
node_modules/
dist/
build/